{% extends 'base.html' %}
{% block title %}查看minion Keys列表{% endblock %}

{% block content %}
<div id="page-wrapper" style="min-height: 421px;">
    <div class="row">
    	<div class="col-lg-12"></div>
         	<h3 class="page-header">查看minion端keys列表</h3>
            <div class="col-lg-4">
            <form action="/saltstack/key_accept/" method="get" role="form">
         	<ul>
            <div class="form-group">
            <label>已经认证：</label>
            <select class="form-control" multiple="" name="match">
            {% for i in minions.minions %}
                <option>{{ i }}</option>
                {% empty %}
                <option>null</option>
            {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label>等待认证：</label>
            <select class="form-control" multiple="" name="match">
            {% for i in minions.minions_pre %}
                <option>{{ i }}</option>
                {% empty %}
                <option>null</option>
            {% endfor %}
            </select>
            </div>
            <button class="btn btn-primary btn-xs" type="submit">添加</button>
            <div class="form-group">
            <label>拒绝认证：</label>
            <select class="form-control" multiple="" name="match">
            {% for i in minions.minions_denied %}
                <option>{{ i }}</option>
                {% empty %}
                <option>null</option>
            {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label>丢弃认证：</label>
            <select class="form-control" multiple="" name="match">
            {% for i in minions.minions_denied %}
                <option>{{ i }}</option>
                {% empty %}
                <option>null</option>
            {% endfor %}
            </select>
            </div>
            </ul>
            </form>
            </div>
            <!--{{ minions }}-->
		</div>
	</div>
</div>
{% endblock %}