{% extends 'base.html' %}
{% block title %}生成minion匹配值{% endblock %}

{% block content %}
<div id="page-wrapper" style="min-height: 421px;">
    <div class="row">
    	<div class="col-lg-12">
         	<h3 class="page-header">生成minion匹配值</h3>
            <div class="col-lg-6">
            	<ul>
            	<form action="/saltstack/ip_list/" method="get" role="form">
            	<div class="form-group">
             		<label style="color: green">输入IP列表：</label>
            		<textarea rows="6" class="form-control" name="ip_list" style="background-color: black;color: green" placeholder="一个IP地址占用一行"></textarea>
            	</div>
            	<button class="btn btn-primary btn-xs" type="submit">执行</button>
            	<div class="form-group">
            	    <label style="color: green">执行结果：</label>
            	    <textarea rows="6"  style="background-color: black;color: green" class="form-control">{% for i in ip_list_text %}{{ i }}{% if not forloop.last%},{% endif %}{% empty %}{% endfor %}</textarea>
            	</div>
            	</form>
            	</ul>
            </div>
            <!--{{ minions }}-->
		</div>
	</div>
</div>
{% endblock %}