{% extends 'base.html' %}
{% block title %}管理minion服务{% endblock %}

{% block content %}
<div id="page-wrapper" style="min-height: 421px;">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">管理minion服务(启动)</h3>
            <form action="/saltstack/minion_service_start/" method="get" role="form">
            <div class="col-lg-3">
                <ul>
                <div class="form-group">
                    <label style="color: green">输入远程IP：</label>
                    <input class="form-control" name="ip_list" placeholder="多个IP以逗号分隔">
                    <input class="btn btn-primary btn-xs" type="submit" value="启动">
                </div>
                </ul>
            <!--<button class="btn btn-primary btn-xs" type="submit">测试</button>-->
            </div>
            </form>
            <!--{{ minions }}-->
        </div>
    </div>
</div>
{% endblock %}