{% extends 'base.html' %}
{% block title %}雨落寒冰{% endblock %}

{% block content1 %}
<h2>从 JSON 字符串中创建一个对象</h2>
{% for salt in salttext.minions %}
<p id="demo">{{ salt }}</p>

{% endfor %}
<div class="col-lg-4">
<form action="/salt_exec1/" method="get" role="form">
              <div class="form-group">
                   <label>Text Input</label> <br />
                     a:<input class="form-control" name="a">
                     b:<input class="form-control" name="b">
                     c:<input class="form-control" name="c">
                     <input type="submit" value="exec">
                 <p class="help-block">Example block-level help text here.</p>

            </div>
            <div class="form-group">
                                            <label>Text area</label>
                                            <textarea rows="6" class="form-control">{{ pingtext1 }}</textarea>
                                        </div>
 
</div>
</form>
<h2></h2>
{% endblock %}
</body>
</html>
