{% extends 'base.html' %}
{% block title %}虚拟主机信息更新{% endblock %}

{% block content %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">主机信息更新</h1>
		</div>
	</div>
	<div class="row">
    	<div class="col-lg-12">
         	<form action="/assetmanage/host_update/" method="get" role="form">
                    <ul>
            		<div class="form-group col-lg-4">
            			<label style="color: orange">宿主IP：<input class="form-control" name="host_ip" ></label>
                        <label style="color: orange">主机IP：<input class="form-control" name="local_ip"></label>
                        <label style="color: orange">应用：<input class="form-control" name="app"></label>
                        <label style="color: orange">主机名：<input class="form-control" name="host_name"></label>
                        <div class="form-group">
                            <label style="color: orange">系统版本：
                                <select class="form-control" name="system_version">
                                    <option></option>
                                    <option>CentOS 6.5</option>
                                    <option>SUSE SP4</option>
                                    <option>SUSE SP3</option>
                                    <option>Ubuntu</option>
                                    <option>CentOS 7.2</option>
                                    <option>Windows 2003</option>
                                    <option>Windows 2008</option>
                                    <option>CentOS 6.4</option>
                                    <option>RedHat 5.5</option>
                                </select>
                            </label>
                        </div>
            		</div>
                    </ul>
                    <ul>
                    <div class="form-group col-lg-4">
                        <div class="form-group">
                            <label style="color: orange">CPU核数：
                                <select class="form-control" name="cpu_num">  
                                    <option></option>                          
                                    <option>2</option>
                                    <option>4</option>
                                    <option>8</option>
                                    <option>1</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="color: orange">硬盘大小：
                                <select class="form-control" name="disk_size">
                                    <option></option>
                                    <option>30G</option>
                                    <option>40G</option>
                                    <option>50G</option>
                                    <option>80G</option>
                                    <option>100G</option>
                                    <option>200G</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="color: orange">内存大小：
                                <select class="form-control" name="mem_size">
                                    <option></option>
                                    <option>4G</option>
                                    <option>8G</option>
                                    <option>16G</option>
                                    <option>2G</option>
                                </select>
                            </label>
                        </div>
                        <label style="color: orange">备注：<input class="form-control" name="host_note"></label>
                        <br><input class="btn btn-warning btn-sm" type="submit" value="更新">
                    </div>
                    </ul>
            </form>
		</div>
	</div>
</div>
{% endblock %}